@font-face {
  font-family: "ZdenkoFont2";
  src: url("../../assets/fonts/ZdenkoFont2-Regular.otf");
}

html,
body {
  font-family: "ZdenkoFont2", "Open Sans", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.disabled {
  pointer-events: none;
  cursor: auto;
}

.hidden {
  visibility: hidden;
}

#wrapper {
  position: absolute;
  top: 0;
  width: 1024px;
  height: 1789px;
  background-image: repeating-linear-gradient(
    45deg,
    #56a34b,
    #56a34b 20px,
    #2e8c45 20px,
    #2e8c45 40px
  );
  background-repeat: no-repeat;
  overflow-x: scroll;
  left: 50%;
  transform: translateX(-50%);
  transform-origin: left top;
}

#backgroundImage {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.monster {
  position: absolute;
  width: 53px;
  height: 45px;
  left: -53px;
  top: 680px;
  visibility: hidden;

  &.active {
    visibility: visible;
    animation: move_right_an 6s linear 1;

    & .inner {
      animation: monster_an 0.8s steps(5) 8;
    }
  }

  @keyframes move_right_an {
    to {
      transform: translateX(2000px);
    }
  }

  & .inner {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../images/monster.png");
    background-size: 267px auto;
  }

  @keyframes monster_an {
    to {
      background-position: -267px;
    }
  }
}

#fontBtn {
  position: absolute;
  right: 20px;
  top: 100px;
  padding: 25px 12px 8px 12px;
  background-color: #1e90ff;
  background-image: url("../images/font.png");
  background-repeat: no-repeat;
  background-position: 50% 16%;
  font-size: 24px;
  color: #fff;
  cursor: pointer;
  transform-origin: center bottom;
  transform: translateY(-600px) rotateX(-30deg) scale(0);
  transform-origin: 50% 100%;
  opacity: 0;

  &.active {
    animation: slide-in-elliptic-top-fwd 0.7s
      cubic-bezier(0.25, 0.46, 0.45, 0.94) both 1.5s;
  }

  &:hover {
    background-color: #3eb0ff;
  }

  @keyframes slide-in-elliptic-top-fwd {
    100% {
      transform: translateY(0) rotateX(0) scale(1);
      transform-origin: 50% 1400px;
      opacity: 1;
    }
  }
}
