
main {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 22px;
  font-size: 1.6em;
  width: 798px;
  height: 100%;
  background: #bbb;
  visibility: hidden;
  &.active {
    visibility: visible;
  }
}
section {
  display: flex;
  margin: 10px;
  flex-direction: row;
  min-width: 300px;
  text-transform: uppercase;
}
section > .col-left > img {
  height: 144px;
}
section .col-right span {
  color: navy;
}
.col {
  background: gainsboro;
}
.col-left {
  width: 30%;
  text-align: right;
  font-size: 0.75em;
  color: navy;
  padding-right: 12px;
}
.col-right {
  margin-left: 2%;
  width: 68%;
  padding-left: 12px;
  & ul li {
    list-style-type: square;
    list-style-position: inside;
  }
  & h3 {
    color: navy;
    font-size: 1em;
    font-weight: normal;
  }
}
.col-right .line {
  height: 100%;
  border-bottom: 2px solid navy;
  position: relative;
  &:after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 8px;
    height: 8px;
    background: navy;
  }
}
.closeButton {
  position: absolute;
  right: 40px;
  top: 40px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: transform 0.2s;
  &.hidden {
    visibility: visible;
    transform: scale(0);
    transition: transform 0.2s;
  }
  & .inner {
    position: relative;
    width: 32px;
    height: 32px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-image: url('../images/close-button-png-30237.png');
    background-size: 32px 32px;
    background-repeat: no-repeat; 
    animation: filter_an 9s infinite;

    @keyframes filter_an {
      from, to {
        filter: hue-rotate(0);
        animation-timing-function: ease-out;
      } 50% {
        filter: hue-rotate(90deg);
        animation-timing-function: ease-in;
      }
    }
  }
}
#fontBtn {
  position: absolute;
  right: 0px;
  top: 100px;
  padding: 10px 20px;
}