#marblesWrapper {
	position: absolute;
	left:0;
	top: 20px;
	width: 100%;
	height: 100%;
}
.marble {
	position: absolute;
	top: -150px;
	left: 400px;
	width: 128px;
	height: 128px;
	background-image: url('../images/static-image.png');
	background-size: 128px auto;
	border-radius: 50%;
}