.replay-envelope {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100vh;
	background: cornflowerblue;
	text-align: center;
	transform: scale(0);
	transition: transform 0.12s;
	&.active {
		transform: scale(1);
	}

	button#replay-button {
		border: none;
		width: 168px;
		height: 168px;
		background: url('../images/10ce78a56be64c4cd48b444279ebb6fa.svg');
		margin-top: 60px;
		cursor: pointer;
		&:hover {
			
		}
	}
	& div {
		margin-top: 20px;
	}
}